
.app-header {
    background-color: #222;
    height: 30%;
    color: white;
}

.app-title {
    font-size: 1.5em;
}

form {
    width: 50% !important;
    margin: 0 auto !important;
}

input[type=text] {
    width: 60%;
    border: 2px solid #aaa;
    border-radius: 4%;
    outline: none;
    padding: 8px 35px 8px 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    transition: 2s;
}

input[type=text]:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 1px dodgerblue;
}
input[type="submit"] {
    outline:none;
    background: white url('../search.png') no-repeat right;
    background-size: 25px;
    margin-left: -35px;
    margin-right: 35px;
    cursor: pointer;
    height: 25px;
    width: 25px;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    align-content: center;
    text-align: center;
    background-color: #222;
    color: #fff;
    text-align-last:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li {
    float: left;
    border: 1px solid #333;
    border-radius: 5%;
}

.tab {
    width: 80px;
    display: inline-block;
    padding: 5px;
}
.active {
    border-color: dodgerblue;
    box-shadow: 0 0 8px 1px dodgerblue;
    padding: 5px;
}
.new-tab {
    width: 20px;
    display: inline-block;
    padding: 5px;
}
a {
    text-decoration: none;
    color: #fff;
}

a:hover span {
    visibility: visible;
    background-color: #333333;
    font-size: x-small;
}

.close {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    float: right;
    visibility: hidden;
    outline: none;
}
